.sidebar {
  @apply w-72
    flex
    flex-col
    justify-start
    shadow-xl
    px-4
    text-white;
  background: #4a4e69;
}

.logo {
  @apply flex items-center justify-center py-5;
}

.logo--img {
  @apply inline-block;
}

.logo--text {
  @apply inline-block uppercase font-bold text-xl;
}

.seperator {
  @apply w-full
        bg-gray-400
        my-4;
  height: 1px;
}

.nav-item-base {
  @apply rounded-2xl
        px-6
        py-4
        flex
        items-center
        mb-2;
}

.nav-link:hover,
.nav-link.active {
  background: #666a86;
}

.search {
  @apply bg-gray-200;
}

.search--icon {
  @apply inline-block;
}

.search--input {
  @apply outline-none
    border-none
    px-2
    inline-block
    w-full
    bg-transparent
    text-gray-600;
}

.collapse-button {
  @apply mt-auto;
}

.icon {
  @apply inline-block mr-6;
}

.sidebar.collapse {
  @apply w-28
    px-5;
}
