.sidebar {
  @apply w-72
    flex
    flex-col
    justify-start
    shadow-xl
    px-4
    text-white;
  background: #4a4e69;
  transition: all 0.5s ease;
}

.sidebar img {
  @apply max-w-none;
}

.logo {
  @apply flex items-center justify-center py-5;
}

.logo--img {
  @apply inline-block;
}

.logo--text {
  @apply inline-block uppercase font-bold text-xl;
}

.seperator {
  @apply w-full
        bg-gray-400
        my-4;
  height: 1px;
}

.nav-item-base {
  @apply rounded-2xl
        px-3
        py-3
        flex
        items-center
        mb-2;
}

.nav-link:hover,
.nav-link.active {
  background: #666a86;
}

.search {
  @apply bg-gray-200;
}

.search--icon {
  @apply inline-block;
}

.search--input {
  @apply outline-none
    border-none
    pr-2
    pl-6
    inline-block
    w-full
    bg-transparent
    text-gray-600;
}

.collapse-button {
  @apply mt-auto outline-none;
}

.icon {
  @apply inline-block mr-6;
}

.sidebar input,
.sidebar span {
  transition: opacity 0.6s ease;
  opacity: 1;
}

/*
 * 
 */
.sidebar.collapse {
  @apply w-20;
}

.sidebar.collapse .logo {
  @apply justify-start;
}

.sidebar.collapse input,
.sidebar.collapse span {
  @apply opacity-0 pointer-events-none;
}
